:root,
[data-bs-theme=light] {
    --bs-success-rgb: 0, 113, 84 !important;
    --bs-warning-rgb: 160, 107, 20 !important;
}

body {
    padding-bottom: 20px;
}

html, body {
    height: 100%;
}

h4, .h4 {
    font-size: 19px !important;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10.5px !important;
    margin-bottom: 10.5px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    line-height: 1.1 !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 90px; /* navbar height of 72px + a bit of padding 18px*/
}

@media (min-width: 1200px) {
    .body-content, .container {
        max-width: 90% !important;
        width: 90% !important;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 40px;
        padding-bottom: 48px;
    }
}

.progress-label {
    float: left;
    margin-right: 1em;
}

.make-space {
    min-width: 95px;
}

.language-card-item {
    padding: 10px 0 10px;
}

.form-group {
    padding-bottom: 16px;
}

.fill {
    height: auto;
    /* height - footer - header*/
    min-height: calc(100vh - 95px - 70px);
    min-height: -o-calc(100vh - 95px - 70px); /* opera */
    min-height: -webkit-calc(100vh - 95px - 70px); /* google, safari */
    min-height: -moz-calc(100vh - 95px - 70px); /* firefox */
}

.help {
    cursor: help;
    border-bottom: 1px dashed;
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

input[type=checkbox] + label {
    padding-left: 4px;
}
